html, body,div {
  height: 100%;
  width: 100%;
  border: none;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}


.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
  color: #ffc300;
  background-color: #581845;
}

.row{
  height: 20%;
}


.navbar-light .navbar-nav .nav-link{
  color: white;
}

.h1, .h2, h1, h2,{
  color: white;
  text-align: center;
}

#location{
  padding-top: 20px;
  background-color: #B3B6B7;
}

#location-details .a{
  color: #900c3f;
}

span .nav-bar-toggler-icon{
  color: white;
}

.navbar {
  width: 100%;
  display: flex;
  height: 55px;
  text-align: center;
  background-color: #581845;
}

.main-img {
    width: 100%;
    height: 200px;
    background-image: url('../img/GRAD.jpg');
    background-repeat: no-repeat;
}
