<h2>Accommodation</h2>
<div class="list-group">
  <a href="https://www.athollpalace.com/" class="list-group-item list-group-item-action flex-column align-items-start" target="_blank">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Atholl Palace Hotel</h5>
      <small><i class="fas fa-phone"></i> 01796 472 005</small>
      </div>
      <p class="mb-1">Stay at the venue itself with lodges and rooms available</p>
      <ul id="facilities">
        <li id="facilityItem"><p><i class="fas fa-parking"></i> Free parking</p></li>
        <li id="facilityItem"><p><i class="fas fa-futbol"></i> Leisure Facilities</p></li>
        <li id="facilityItem"><p><i class="fas fa-glass-martini"></i> Bar and Restaurant</p></li>
        <li id="facilityItem"><p><i class="far fa-heart"></i> Spa Facilities</p></li>
      </ul>
  </a>
  <a href="https://www.fishershotelpitlochry.com/" class="list-group-item list-group-item-action flex-column align-items-start" target="_blank">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Fisher's Hotel</h5>
      <small><i class="fas fa-phone"></i> 01796 472 000</small>
    </div>
    <p class="mb-1">Sister hotel to the Atholl Palace.</p>
    <ul id="facilities">
      <li id="facilityItem"><p><i class="fas fa-parking"></i> Free parking</p></li>
      <li id="facilityItem"><p><i class="fas fa-futbol"></i> Leisure Facilities</p></li>
      <li id="facilityItem"><p><i class="fas fa-glass-martini"></i> Bar and Restaurant</p></li>
      <li id="facilityItem"><p><i class="far fa-heart"></i> Spa Facilities</p></li>
    </ul>
  </a>
  <a href="https://www.fonab.co.uk/" class="list-group-item list-group-item-action flex-column align-items-start" target="_blank">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Fonab Pitlochry</h5>
      <small><i class="fas fa-phone"></i> 01796 472 882</small>
    </div>
    <p class="mb-1">Milton of Fonab is a quiet, family run, Caravan Park on the south side of Pitlochry next to the River Tummel.</p>
    <ul id="facilities">
      <li id="facilityItem"><p><i class="fas fa-parking"></i> Free parking</p></li>
      <li id="facilityItem"><p><i class="fas fa-futbol"></i> Leisure Facilities</p></li>
      <li id="facilityItem"><p><i class="fas fa-glass-martini"></i> Bar and Restaurant</p></li>
      <li id="facilityItem"><p><i class="far fa-heart"></i> Spa Facilities</p></li>
    </ul>
  </a>
</div>
