<h2>Things to do</h2>
<div class="list-group">
  <a href="https://www.malts.com/en-row/distilleries/blair-athol/" class="list-group-item list-group-item-action flex-column align-items-start" target="_blank">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Blair Athol Distillery</h5>
      <small><i class="fas fa-phone"></i> 01796 482 003</small>
      </div>
      <p class="mb-1">lair Athol’s ancient source of water – the Allt Dour – flows through the grounds from the slopes of Ben Vrackie, contributing to the whisky’s, mellow quality and smooth finish.</p>
      <img class="img-fluid thingsImage" src="{{ site.github.url }}/img/whisky.jpg">
  </a>
  <a href="http://www.enchantedforest.org.uk/" class="list-group-item list-group-item-action flex-column align-items-start" target="_blank">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">The Enchanted Forest</h5>
    </div>
    <p class="mb-1">Set amidst the stunning Autumn woodland of Forestry Commission Scotland’s Faskally Wood in Highland Perthshire, The Enchanted Forest is Scotland’s premier sound and light event.</p>
    <img class="img-fluid thingsImage" src="{{ site.github.url }}/img/forest.jpg">
  </a>
  <a href="https://www.fonab.co.uk/" class="list-group-item list-group-item-action flex-column align-items-start" target="_blank">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Pitlochry Golf Course</h5>
      <small><i class="fas fa-phone"></i> 01796 472 334</small>
    </div>
    <p class="mb-1">Pitlochry Golf is one of the finest inland golfing facilities in Scotland </p>
    <img class="img-fluid thingsImage" src="{{ site.github.url }}/img/golf.jpg">
  </a>
</div>
