<section id="where">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="card">
          <div class="card-body">
            <h1>The Church</h1>
            <p class="lead">Holy Trinity, Pitlochry</p>
            <p><i class="fas fa-map-marker-alt"></i> Perth Road, Pitlochry, PH16 5LY</p>
            <p><i class="fas fa-phone"></i> 01796 472 005</p>
          </div>
          <div class="card-footer"><div class="mapouter"><div class="gmap_canvas"><iframe height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=holy trinity Perth Road, Pitlochry, PH16 5LY &t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.webdesign-muenchen-pb.de"></a></div><style>.mapouter{text-align:right;height:400px;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:400px;width:100%;}</style></div></div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="card">
        <div class="card-body">
          <h1>The Venue</h1>
          <p class="lead">Atholl Palace Hotel, Pitlochry</p>
          <p><i class="fas fa-map-marker-alt"></i> Knockfarrie Road, Pitlochry, PH16 5LX</p>
          <p><i class="fas fa-phone"></i> 01796 472 005</p>
        </div>
        <div class="card-footer"><div class="mapouter"><div class="gmap_canvas"><iframe height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=atholl palace&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.webdesign-muenchen-pb.de"></a></div><style>.mapouter{text-align:right;height:400px;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:400px;width:100%;}</style></div></div>
      </div>
      </div>

    </div>
  </div>
</section>
